body{
  background-color: #181818;
}
.profile{
  width: 45%;
  height: 90%;
  position: absolute;
  right: 0;
  bottom: 0;
}

.hello{
  color: #FFFFFF;

  opacity:0.55;
}
h1{
  color: #F19F40;
  font-weight: bolder;
  font-size: 60px;
}
.new-div{
  margin-top: 60px;
  margin-left: 50px;
}
.logo{
  margin-bottom: 30%;
}
.follow-me {
  margin-top: 30%;
  padding: 5px;
}
.icon-button{
  width: 34px;
  height: 34px;
  margin-right: 10px;
}
